.nav-layout {
  border: 0rem solid rgba(0, 0, 0, 0.482);
  background-color: rgba(0, 0, 0, 0.427);
  width: 100%;
  color: rgba(245, 245, 245, 0.735);
  height: 13%;
  top: 0;
  z-index: 1000;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration-line: none;
  .menu {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 30%;
    // padding: 1%;
    cursor: pointer;
    
  .logo-img {
    //right: 1rem;
    width: 80%;
    height: 20%;
    @media only screen and (max-width: 600px) {
      width: 20%;
      height: 15%;

    }      
    .links {

        font-size: 1rem;
        color: rgba(245, 245, 245, 0.735);
        
        @media only screen and (max-width: 600px) {
          font-size: 8px;
          
        }
    }
    .links:hover {
      font-weight: 700;
      color: white;
    }
    .links::after {
      font-weight: 500;
      color: white;
    }
    .links:active {
      font-weight: 500;
      color: white;
    }
   
    }
  }
  


}
