.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .links {
    width: 6.5rem;
    // z-index: 1001;
    font-size: 1rem;
    color: rgba(245, 245, 245, 0.619);
    //margin-left: 1rem;
  }
  .links:hover {
    color: white;
  }
  .links::after {
    color: white;
  }
  .links:active {
    color: white;
  }
}
