.auth-layout {
  background-color: rgb(114, 114, 114); //#a0afaf;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .auth-box {
    
    margin: 13% 0 30% 0;
    border: 0rem whitesmoke;
    border-radius: 10px;
    height: 27rem;
    width: 20rem;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    letter-spacing: 0.02rem;
    color: #646f6f95;
    @media only screen and (max-width: 600px) {
      height: 26rem;
      margin: 35% 0 30% 0;
    }

    img {
      width: 50%;
        height: 35%;
      margin-bottom: 1rem;
      @media only screen and (max-width: 600px) {
        width: 50%;
        height: 35%;
      }
    }
    .button{
      cursor: pointer;
    }
   
    .hashtag-info {
      margin: 1rem 0 1rem 0;
      color: #aca5d2af;
      font-size: 14px;
    }
    
    P {
      padding-top: 0.1rem;
      font-size: 8px;
    }
  
  }
}
