.auth-layout {
  background-color: rgb(114, 114, 114); //#a0afaf;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .auth-box {
    margin: 10% 0 5% 0;
    border: 0rem whitesmoke;
    border-radius: 10px;
    height: 20.5rem;
    width: 20rem;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    letter-spacing: 0.02rem;
    color: #646f6f95;
    @media only screen and (max-width: 600px) {
      height: 30rem;
    }

    img {
      width: 40%;
      height: 40%;
      margin-bottom: 1rem;
      @media only screen and (max-width: 600px) {
        width: 50%;
        height: 40%;
      }
    }
    .hashtag-info {
      // margin: 1rem 0 1rem 0;
      color: #aca5d2af;
      font-size: 14px;
    }
    P {
      padding-top: 0.1rem;
      font-size: 8px;
    }
  }
}
