.my-layout {
  background-color: rgb(255, 255, 255); //#a0afaf;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .image-box img {
    margin: 10px;
    margin-top: 0;
  }
  .my-center {
    border: 0rem rgb(255, 255, 255);
    padding-top: 10rem;
    width: 60rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    letter-spacing: 0.02rem;
    color: #646f6f95;
    @media only screen and (max-width: 600px) {
      height: 30rem;
    }
    hr {
      width: 100%;
      color: #646f6f39;
      margin-bottom: 5rem;
    }
    img {
      width: 13rem;
      height: 13rem;
    }
    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      img {
        margin: 10px;
        padding-right: 1rem;
        width: 5rem;
        height: 4rem;
        margin-bottom: 1rem;

        @media only screen and (max-width: 600px) {
          width: 50%;
          height: 40%;
        }
      }
      .button {
        width: 40%;
        height: 40%;
        padding: 0 1rem 1rem 2rem;
        @media only screen and (max-width: 600px) {
          width: 50%;
          height: 40%;
        }
      }
      h3 {
        padding-left: 0rem;

        color: rgba(29, 29, 29, 0.612);
        font-size: 1.2rem;
      }
      .icon {
        height: 3rem;
        width: 3rem;
        opacity: 0.3;
        margin-right: 0rem;
      }
      .my-box {
        border: solid 0.01rem #bec6c6;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        border-radius: 3px;
        width: 30rem;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-left: 3rem;
        img {
          height: 3rem;
          width: 3rem;
          opacity: 0.1;
          margin-bottom: 0;
        }
        .make-row {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: center;

          .contents {
            padding: 0.3rem 0.5rem 0.5rem 0.7rem;
            color: rgb(24, 23, 23);
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
