.tabWrap {
  margin-top: 3%;
  cursor: pointer;
  margin: 10px;
  margin-left: auto;
  position: relative;

  svg {
    height: 15px;
    margin-right: 12px;
  }

  .tab {
    margin-top: 5px;
    color: #000000;
    text-align: center;
    font-size: 16px;
    line-height: 54px;
    width: 326px;
    height: 54px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

    .count {
      margin-left: 10px;
      color: #929292;
      font-size: 12px;
      display: inline-block;
    }
  }

  .tabSelectWrap {
    display: none;
    z-index: 1;

    .tabSelect {
      margin-top: 8px;
      color: #000000;
      text-align: center;
      font-size: 16px;
      line-height: 54px;
      width: 326px;
      height: 54px;
      border: 1px solid #e2e2e2;
      border-radius: 3px;
      background-color: rgba(255, 255, 255, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.tabWrap:hover .tab {
  visibility: hidden;
}
.tabWrap:hover .tabSelectWrap {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}

.postListWrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
