.g-button {
  background: white;
  text-align: center;
  line-height: center;
  padding: 1px 20px 1px 20px;
  margin: 0px;
  //width: 30%;
  height: auto;
  //border: none;
  color: gray;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.176);
  border-radius: 10px;
  cursor: pointer;
}
