.createWrap {
  margin: 0rem;

  //padding: 4%;
  //background-image: url("../../../assets/images/banner_img.png");
}

.createAdvice {
  margin-top: 7rem;
  margin-bottom: 4rem;
  text-align: center;
  font-size: 1.2rem;
}

.contentWrap {
  // margin: 0 10rem 4rem;
}

.form {
  display: flex;
  justify-content: space-between;
}
.imgWrap {
  display: flex;
  justify-content: column;
  width: 35%;
}

.postImageWrap {
  //display: flex;
  //flex-direction: column;
  //width: 30%;
}
.imgBtn {
  width: 100%;
  height: 25rem;
  //background-color: #c4c4c4;
  border: 1px solid #1f1f1f8d;
  background: url("../../../assets/images/plus_btn.svg") no-repeat center
    #6c6c6c;
  & input {
    display: none;
  }
  &:hover {
    cursor: pointer;
    background-color: #1f1f1f8d;
  }
}

.postImage {
  width: 100%;
  height: 25rem;
  border: 1px solid black;
  opacity: 0.5;
  & input {
    display: none;
  }
  //background-color: #6c6c6c;

  text-align: center;
  line-height: 12rem;

  &:hover {
    cursor: pointer;
    background-color: #6c6c6c8d;
  }
}

.plusImg {
  width: 50%;
}

.minusImg {
  width: 50%;
}

.postPreview {
  width: 100%;
}

.postContent {
  width: 50%;
}

.postContentWrap {
  width: 100%;
  margin-top: 3rem;
  & input {
    width: 100%;
    padding: 0.5rem;
    background-color: #c4c4c4;
    border: none;
    border-radius: 0.35rem;
    margin-top: 1rem;
  }

  & input:focus {
    outline: none;
  }

  & input::placeholder {
    font-weight: 400;
    color: rgb(255, 255, 255);
  }

  &:not(:first-child) {
    margin-top: 2rem;
  }
}

.title {
  color: #6c6c6c;
  margin-top: 3rem;
  font-size: 1.5rem;
}

.postMaterialSubTitle {
  font-weight: lighter;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.ingredientInputWrap .ingredientInputTop {
  display: flex;
  justify-content: space-between;

  & input:nth-child(2n-1) {
    width: 33%;
  }

  & input:nth-child(2n) {
    width: 66%;
    margin-left: 1rem;
  }
}

.ingredientPlusBtn {
  width: 100%;
  height: 3rem;
  background-color: #c4c4c4;
  border-radius: 0.35rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: #7f7f7f;
  }
}

.postBtnWrap {
  margin: 5rem 2rem 0;
  display: flex;
  justify-content: space-between;
}

.postSaveBtn {
  padding: 0.5rem 4rem;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  color: #c4c4c4;
  border-radius: 0.35rem;
  font-size: 1rem;
  text-align: center;

  &:hover {
    cursor: pointer;
    background-color: #c4c4c4;
    color: #ffff;
  }
}

.postCancelBtn {
  padding: 0.5rem 4rem;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  color: #c4c4c4;
  border-radius: 0.35rem;
  font-size: 1rem;
  text-align: center;

  &:hover {
    cursor: pointer;
    background-color: #c4c4c4;
    color: #ffff;
  }
}
