.createWrap {
  margin: 0rem;
  text-align: left;
  width: 100%;
}

.createAdvice {
  margin-top: 7rem;
  margin-bottom: 4rem;
  text-align: center;
  font-size: 1.2rem;
}

.contentWrap {
  // margin: 0 10rem 4rem;
  width: 100%;
}

.form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.imgWrap {
  display: flex;
  justify-content: column;
  width: 35%;
}

.postImageWrap {
  //display: flex;
  //flex-direction: column;
  //width: 30%;
}
.imgBtn {
  width: 100%;
  height: 25rem;
  border-radius: 0.35rem;
  //background-color: #c4c4c4;
  border: 1px solid #1f1f1f69;

  background: url("../../../assets/images/plus_btn.svg") no-repeat center
    #00000063;
  & input {
    display: none;
  }
  &:hover {
    // background: url("../../../assets/images/min_btn.svg") no-repeat center
    //   #00000063;
    cursor: pointer;
    background-color: #c7c7c7d6;
  }
}

.postImage {
  width: 100%;
  height: 25rem;
  border: 1px solid black;
  opacity: 0.5;
  & input {
    display: none;
  }
  //background-color: #6c6c6c;

  text-align: center;
  line-height: 12rem;

  &:hover {
    cursor: pointer;
    background-color: #6c6c6c8d;
  }
}

.plusImg {
  width: 50%;
}

.minusImg {
  width: 4%;

  margin-left: 1rem;
  margin-top: 1rem;
  padding: 0 0.5rem;
  cursor: pointer;
  &:hover {
    border-radius: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.257);
  }
}

.postPreview {
  width: 100%;
}

.postContent {
  width: 50%;
  margin-left: 20%;
}

.postContentWrap {
  width: 100%;
  margin-top: 3rem;
  & input {
    width: 98%;
    padding: 0.5rem;
    background-color: #c4c4c4;
    border: none;
    border-radius: 0.35rem;
    margin-top: 1rem;
  }

  & input:focus {
    outline: none;
  }

  & input::placeholder {
    font-weight: 400;
    color: rgb(255, 255, 255);
  }

  &:not(:first-child) {
    margin-top: 2rem;
  }
}
.fileUpload {
  width: 50%;
}

.title {
  color: #6c6c6c;
  margin-top: 3rem;
  font-size: 1.5rem;
}

.postMaterialSubTitle {
  font-weight: lighter;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.ingredientInputWrap .ingredientInputTop {
  display: flex;
  justify-content: space-between;

  & input:nth-child(2n-1) {
    width: 33%;
  }

  & input:nth-child(2n) {
    width: 66%;
    margin-left: 1rem;
  }
}

.ingredientPlusBtn {
  width: 100%;
  height: 3rem;
  background-color: #c4c4c4;
  border-radius: 0.35rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: #7f7f7f;
  }
}

.postBtnWrap {
  margin: 5rem 2rem;
  display: flex;
  justify-content: space-between;
}

.postSaveBtn {
  padding: 0.5rem 4rem;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  color: #c4c4c4;
  border-radius: 0.35rem;
  font-size: 1rem;
  text-align: center;

  &:hover {
    cursor: pointer;
    background-color: #c4c4c4;
    color: #ffff;
  }
  @media (max-width: 768px) {
    padding: 0.2rem 2rem;
  }
}

.postCancelBtn {
  padding: 0.5rem 4rem;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  color: #c4c4c4;
  border-radius: 0.35rem;
  font-size: 1rem;
  text-align: center;

  &:hover {
    cursor: pointer;
    background-color: #c4c4c4;
    color: #ffff;
  }
  @media (max-width: 768px) {
    padding: 0.2rem 2rem;
  }
}
